

* {
  box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	  /*font-family: 'Roboto', sans-serif;*/
  color: #384047;
  background-color: #73C6A1;
  margin:0;
  padding:0;
}

/************************
  CARD STYLES
*************************/

.card-flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	margin: 1em auto;
}

.card {
	max-width: 30%;
	min-width: 300px;
	max-height: 400px;
	background-color: #F44336;
	padding-bottom: .3em;
	color: white;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
	margin: 1em auto;
  position:relative
}

.card2 {
  max-width: 30%;
  background-color: #F44336;
  padding-bottom: .3em;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 2px 2px 14px 0px rgba(0,0,0,0.75);
  margin: 1em auto;
  position: relative;
}

.card-images {
	max-width: 100%;
}

.card header {
	text-align: center;
}

.card2 header {
  text-align: center;
}

.card h3 {
	margin: .5em auto 0;
	display: inline-block;
	text-decoration: underline;
}

.card2 h3 {
  margin: .5em auto 0;
  display: inline-block;
  text-decoration: underline;
}

.card2 h4 {
  color: #fff;
  font-style: italic;
  margin: .1em auto 0;
  font-size: 1.3em;
}

.card p {
  margin: .5em;

}

.card2 p {
  margin: .25em .5em .5em;

}

/************************
  END CARD STYLES
*************************/


.headwrapper {
    background-color: tomato;
    border-top: 10px solid darkred;
    width: 100%;
    height: 55px;
}

h1 {
  margin: 0 0 15px 0;
  text-align: center;
  color: white;
}



#product-diplay {
  margin-top: 0;
}

#new-releases {
  font-size: 2em;
  margin: -.2em auto .5em;
  display: block;
  text-align: center;
  font-weight: bold;
  background-color: #384047;
  color: whitesmoke;
  padding: .3em 0;
}

.navwrapper {
    list-style-type: none;
    background-color:#303030;
    height: 40px;
    width: 100%;
    margin:0;
}

ul {
    margin:0;
    padding:0;
}

nav li {
    display: inline-block;
    margin: auto;
    color: whitesmoke;
    width: 16%;

}

nav li a {
    text-decoration: none;
    color:whitesmoke;
    display:block;
    text-align:center;
    margin: 0 0 20px 0;
    padding:10px 0 20px 0;

}

nav li a:hover {
    color:whitesmoke;
    background-color: tomato;
    height:100%;
}

nav li a:active {
  background-color: tomato;
  font-weight:bold;
}

/*<!-- tab stays in background color when on that html page -->*/
.active {
    background-color: tomato;
    font-weight: bold;
}


.Wutangphoto {
    width:100%;
    height:376px;
    margin: 0;
}

.awards {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  display: block;
  margin: 35px auto 0 auto;
  border: 5px solid tomato;
}

.awardstext {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: white;

}

footer {
    font-family: 'Roboto', sans-serif;
    text-align:center;
    color: whitesmoke;
    background-color: tomato;
    width: 100%;
    height: 55px;
  }

/* ****  Austin's Updates **** */ 

.hiz-wrapper {
  padding-top: 20px;
}
.assembled {
  width: 100%;
  height: 300px;

}
.wuHead {
    float: left;
    background-color: cornflowerblue;
    text-align: center;
    width: 50%;
    height: 100px;
    margin: 10px;
}
.wuList {
    float: left;
    text-decoration: none;
    list-style-type: none;
    background-color: red;
    width: 50%;
    height: 100px;
    text-align: center;
    margin: 10px;
}

.bigRiz {
  border-radius: 50%;
  float: left;
  padding-right: 20px;
}

.secBoxes {
background-color: #384047;
color: whitesmoke;
padding: 25px;
}

.secBoxes p {
  line-height: 130%;
  margin-left: 10px;
  padding-left: 20px;
}

.wuLog {
  display: block;
    margin: 0 auto;
}
.littleLogo {
  float: left;
  padding-right: 20px;
  margin-left: 35px;
}
.missionHead {
  background-color: #384047;
  height: 40px;
}

/************************
      SLIDE SHOW
*************************/

.fullSlides {display:none}

/* Slideshow container */
.sShow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0} 
  to {opacity: 1}
}


/*Added for the AppForm */
input[type=email]:valid {
    background-color:green;
}

input[type=email]:invalid {
    background:red;
            }   
input[type=url]:valid {
    background-color:green;
}

input[type=url]:invalid {
    background:red;
            }   

.jobsBtn {
  font-size: 20px;
  background-color: #73C6A1;
  cursor: pointer;
  border-radius: 5px;
  /*float: right;*/
  margin-bottom: 10px;
  margin-right: 5px;
  margin-top:1em;
  position: absolute;
  right: 0;
  bottom: 0;
  /*display: block;*/
}


/***********
  App Form Styles
************/
.formStyle {
    display: block;
    background-color: #384047;
    width: 100%;
    margin: auto;
    padding: 15px 20px;
}
form label {
  margin-left: 50px
  padding-right: 20px;
  width: 200px;
  color: whitesmoke;
}

form input {
 border: 2px solid whitesmoke;

}
.formRadio{
    color: whitesmoke;
}
.formBtn{
  margin-left: 5px;
}

button a {
  text-decoration: none;
  color: black;
}

